
<div class="global_block">
  <div class="container">
    <div>
      <h1>Reverse string pipe:</h1>
      <div>
        <label for="reverse-string">String to reverse:</label>
        <input type="text" id="reverse-string" placeholder="" [(ngModel)]="pipeReverseString">
      </div>
      <div>
        <label for="reverse-count">Reverse count:</label>
        <input type="text" id="reverse-count" placeholder="" [(ngModel)]="pipeReverseCount" appPositiveNumbers>
      </div>
      <span>Reverse result: {{ pipeReverseString | reverseString: pipeReverseCount }}</span>
    </div>

    <div>
      <label for="positive-numbers">Positive numbers:</label>
      <input type="text" id="positive-numbers" placeholder="" appPositiveNumbers>
    </div>
  </div>
</div>

